/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;

}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

.dropdown-menu {
    border-color: #000;
}

table {
    border-collapse: collapse;
    border: 2px black solid;
    font: 12px sans-serif;
}

td {
    border: 1px black solid;
    text-align: left !important;
<!-- padding: 5 px;
--> <!-- border: none !important;
-->
}

.sort {
    display: inline-block;
    padding-bottom: 10px;
}

.sort-btn {
    display: inline-block;
    padding-left: 15px;
}

.btn-group {
    min-width: 160px;
    /*max-width: 160px;*/

}

body {
    font-family: 'Kurale', serif;
}

.jumbotron {
    /*font-family: 'Marck Script', cursive;*/
    padding-top: 15px;
    padding-bottom: 15px;
}

.jumbotron .container {
    padding-top: 5px;
    padding-bottom: 10px;
}

.table {
    font-family: 'Helvetica', sans-serif;
    font-weight: 400;
    /*font-size: small;*/

}

label {
    font-weight: 400;
}

.sorttext {
    padding-right: 10px;
    font-size: 110%;
}

.form-control {
    border-radius: 4px !important;
    min-width: 70px !important;

}

.input-group {
    min-width: 70px !important;
    max-width: 100px !important;
}

.filter-btn {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.filtersAllButton {
    background-color: #f0ad4e;
    border-color: #eea236;
    /*color: #fff;*/
}

.filtersAllButton:hover {
    background-color: #f0ad4e;
    border-color: #985f0d;
}

