<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <!-- meta first -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">var csrf = "{{ csrf_token }}";</script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <!-- Bootstrap -->
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
            integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


    <link href='https://fonts.googleapis.com/css?family=Kurale&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>

    <title>Избранное</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/favorites.css' %}"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Система поиска</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/about">О системе</a></li>
                <li><a href="/contact">Связаться</a></li>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h2>Система поиска преподавателей</h2>
    </div>
</div>

<div class="container-fluid text-center">
    <div class="col-sm-8 text-center col-sm-offset-2" id="favorites">
        {% if favorites %}
            <div class="panel panel-default">
                <table class="table table-bordered table-hover table-striped">
                    <tbody>
                    {% for favorite in favorites %}
                        <tr>
                            <td rowspan="2" colspan="3"
                                style="vertical-align: middle; background-color: #eee; font-size:15px; width:30%"><a
                                    href="{{ favorite.FavoriteTeacher.Url }}"
                                    text="Открыть профиль">{{ favorite.FavoriteTeacher.Name }}</a></td>
                            <td rowspan="1" colspan="1"
                                style="vertical-align: middle; text-align: center !important; background-color: #eee">
                                Рейтинг: <span style="font-size:15px">{{ favorite.FavoriteTeacher.Rating }}</span></td>
                            <td rowspan="1" colspan="1"
                                style="vertical-align: middle; text-align: center !important; background-color: #eee">
                                Отзывы: <span style="font-size:15px">{{ favorite.FavoriteTeacher.Feedback }}</span></td>
                        </tr>
                        <tr>
                            <td rowspan="1" colspan="2"
                                style="vertical-align: middle; text-align: center !important; background-color: #eee">
                                Стоимость
                                занятия: <span rowspan="1" colspan="2"
                                               style="font-size:15px">{{ favorite.FavoriteTeacher.Money }}</span></td>
                        </tr>
                        <tr>
                            <td rowspan="1" colspan="3" style="vertical-align: middle">
                                Предмет:
                            </td>
                            <td rowspan="1" colspan="2"><span>{{ favorite.FavoriteTeacher.Subjects }}</span>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="1" colspan="3" style="vertical-align: middle">
                                Район:
                            </td>
                            <td rowspan="1" colspan="2"><span>{{ favorite.FavoriteTeacher.Metro }}</span></td>

                        </tr>
                        <tr>
                            <td rowspan="1" colspan="3" style="vertical-align: middle">Место проведения
                                занятий:
                            </td>
                            <td rowspan="1" colspan="2"><span>{{ favorite.FavoriteTeacher.ComeHome }}</span></td>
                        </tr>
                        <tr>
                            <td rowspan="1" colspan="3" style="vertical-align: middle">
                                Статус:
                            </td>
                            <td rowspan="1" colspan="2"><span>{{ favorite.FavoriteTeacher.Status }}</span></td>
                        </tr>
                        <tr>
                            <td rowspan="1" colspan="5" style="vertical-align: middle; text-align: right !important">
                                Удалить из
                                избранного: <img
                                    type="button"
                                    src="{% static 'images/delete.png' %}"
                                    width="20px"
                                    title="Удалить из избранного"
                                    onclick="delete_from_favorites('{{ favorite.FavoriteTeacher.id }}')"
                                    style="cursor: pointer"/>
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="1" colspan="5" style="background-color: #ddd"></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="alert alert-info">
                <p>Список пуст</p>
            </div>
        {% endif %}
    </div>
</div>
<script type="text/javascript" src="{% static "js/favorites_body.js" %}"></script>
</body>
</html>