<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <!-- meta first -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">var csrf = "{{ csrf_token }}";</script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
            integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
            crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="text/javascript" src="{% static "js/home_head.js" %}"></script>

    <link href='https://fonts.googleapis.com/css?family=Kurale&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>

    <title>Система выбора преподавателей</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Система поиска</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="about">О системе</a></li>
                <li><a href="contact">Связаться</a></li>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h2>Система поиска преподавателей</h2>
    </div>
</div>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <div class="filter-btn">
                <div style="text-align:left !important">Предмет:</div>
                </p>
                <select class="form-control" id="subject">
                    <option onclick="FilterSubject('Все')">Все</option>
                    <option onclick="FilterSubject('Русский язык')">Русский язык</option>
                    <option onclick="FilterSubject('Литература')">Литература</option>
                    <option onclick="FilterSubject('Математика')">Математика</option>
                    <option onclick="FilterSubject('Физика')">Физика</option>
                    <option onclick="FilterSubject('Информатика')">Информатика</option>
                    <option onclick="FilterSubject('Биология')">Биология</option>
                    <option onclick="FilterSubject('Химия')">Химия</option>
                    <option onclick="FilterSubject('География')">География</option>
                    <option onclick="FilterSubject('История')">История</option>
                    <option onclick="FilterSubject('Обществознание')">Обществознание</option>
                    <option onclick="FilterSubject('Экономика')">Экономика</option>
                    <option onclick="FilterSubject('Английский язык')">Английский язык</option>
                    <option onclick="FilterSubject('Немецкий язык')">Немецкий язык</option>
                    <option onclick="FilterSubject('Французский язык')">Французский язык</option>
                    <option onclick="FilterSubject('Испанский язык')">Испанский язык</option>
                    <option onclick="FilterSubject('Итальянский язык')">Итальянский язык</option>
                    <option onclick="FilterSubject('Китайский язык')">Китайский язык</option>
                    <option onclick="FilterSubject('Японский язык')">Японский язык</option>
                    <option onclick="FilterSubject('Начальная школа')">Начальная школа</option>
                </select>
            </div>
            </p>
            <div class="filter-btn">
                <div style="text-align:left !important">Район:</div>
                </p>
                <select class="form-control" id="metro">
                    <option onclick="FilterMetro('Все')">Все</option>
                    <option onclick="FilterMetro('Автово')">Автово</option>
                    <option onclick="FilterMetro('Адмиралтейская')">Адмиралтейская</option>
                    <option onclick="FilterMetro('Академическая')">Академическая</option>
                    <option onclick="FilterMetro('Балтийская')">Балтийская</option>
                    <option onclick="FilterMetro('Бухарестская')">Бухарестская</option>
                    <option onclick="FilterMetro('Василеостровская')">Василеостровская</option>
                    <option onclick="FilterMetro('Владимирская')">Владимирская</option>
                    <option onclick="FilterMetro('Волковская')">Волковская</option>
                    <option onclick="FilterMetro('Выборгская')">Выборгская</option>
                    <option onclick="FilterMetro('Горьковская')">Горьковская</option>
                    <option onclick="FilterMetro('Гостиный двор')">Гостиный двор</option>
                    <option onclick="FilterMetro('Гражданский проспект')">Гражданский проспект</option>
                    <option onclick="FilterMetro('Девяткино')">Девяткино</option>
                    <option onclick="FilterMetro('Девяткино')">Достоевская</option>
                    <option onclick="FilterMetro('Елизаровская')">Елизаровская</option>
                    <option onclick="FilterMetro('Звёздная')">Звёздная</option>
                    <option onclick="FilterMetro('Звенигородская')">Звенигородская</option>
                    <option onclick="FilterMetro('Кировский завод')">Кировский завод</option>
                    <option onclick="FilterMetro('Комендантский проспект')">Комендантский проспект</option>
                    <option onclick="FilterMetro('Крестовский остров')">Крестовский остров</option>
                    <option onclick="FilterMetro('Купчино')">Купчино</option>
                    <option onclick="FilterMetro('Ладожская')">Ладожская</option>
                    <option onclick="FilterMetro('Ленинский проспект')">Ленинский проспект</option>
                    <option onclick="FilterMetro('Лесная')">Лесная</option>
                    <option onclick="FilterMetro('Лиговский проспект')">Лиговский проспект</option>
                    <option onclick="FilterMetro('Ломоносовская')">Ломоносовская</option>
                    <option onclick="FilterMetro('Маяковская')">Маяковская</option>
                    <option onclick="FilterMetro('Международная')">Международная</option>
                    <option onclick="FilterMetro('Московская')">Московская</option>
                    <option onclick="FilterMetro('Московские ворота')">Московские ворота</option>
                    <option onclick="FilterMetro('Нарвская')">Нарвская</option>
                    <option onclick="FilterMetro('Невский проспект')">Невский проспект</option>
                    <option onclick="FilterMetro('Новочеркасская')">Новочеркасская</option>
                    <option onclick="FilterMetro('Обводный канал')">Обводный канал</option>
                    <option onclick="FilterMetro('Обухово')">Обухово</option>
                    <option onclick="FilterMetro('Озерки')">Озерки</option>
                    <option onclick="FilterMetro('Парк победы')">Парк победы</option>
                    <option onclick="FilterMetro('Парнас')">Парнас</option>
                    <option onclick="FilterMetro('Петроградская')">Петроградская</option>
                    <option onclick="FilterMetro('Пионерская')">Пионерская</option>
                    <option onclick="FilterMetro('Площадь Александра Невского 1')">Площадь Александра Невского 1</option>
                    <option onclick="FilterMetro('Площадь Александра Невского 2')">Площадь Александра Невского 2</option>
                    <option onclick="FilterMetro('Площадь восстания')">Площадь восстания</option>
                    <option onclick="FilterMetro('Площадь Ленина')">Площадь Ленина</option>
                    <option onclick="FilterMetro('Площадь мужества')">Площадь мужества</option>
                    <option onclick="FilterMetro('Политехническая')">Политехническая</option>
                    <option onclick="FilterMetro('Приморская')">Приморская</option>
                    <option onclick="FilterMetro('Пролетарская')">Пролетарская</option>
                    <option onclick="FilterMetro('Проспект большевиков')">Проспект большевиков</option>
                    <option onclick="FilterMetro('Проспект ветеранов')">Проспект ветеранов</option>
                    <option onclick="FilterMetro('Проспект просвещения')">Проспект просвещения</option>
                    <option onclick="FilterMetro('Пушкинская')">Пушкинская</option>
                    <option onclick="FilterMetro('Рыбацкое')">Рыбацкое</option>
                    <option onclick="FilterMetro('Садовая')">Садовая</option>
                    <option onclick="FilterMetro('Сенная площадь')">Сенная площадь</option>
                    <option onclick="FilterMetro('Спасская')">Спасская</option>
                    <option onclick="FilterMetro('Спортивная')">Спортивная</option>
                    <option onclick="FilterMetro('Старая деревня')">Старая деревня</option>
                    <option onclick="FilterMetro('Технологический институт 1')">Технологический институт 1</option>
                    <option onclick="FilterMetro('Технологический институт 2')">Технологический институт 2</option>
                    <option onclick="FilterMetro('Удельная')">Удельная</option>
                    <option onclick="FilterMetro('Улица Дыбенко')">Улица Дыбенко</option>
                    <option onclick="FilterMetro('Фрунзенская')">Фрунзенская</option>
                    <option onclick="FilterMetro('Чёрная речка')">Чёрная речка</option>
                    <option onclick="FilterMetro('Чернышевская')">Чернышевская</option>
                    <option onclick="FilterMetro('Чкаловская')">Чкаловская</option>
                    <option onclick="FilterMetro('Электросила')">Электросила</option>
                </select>
            </div>
            </p>
            <div class="filter-btn">
                <div style="text-align: left !important">Место проведения занятий:</div>
                </p>
                <select class="form-control" id="metro">
                    <option onclick="filter_place('у себя')"><a href="#">У себя</a></option>
                    <option onclick="filter_place('выезд на дом')"><a href="#">Выезд на дом</a></option>
                    <option onclick="filter_place('удаленно')"><a href="#">Удалённо</a></option>
                </select>
            </div>
            </p>
            <div style="text-align: left !important">Стоимость занятия:</div>
            <!--<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">-->
            </p>

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <div class="input-group">
                        <input id="price-from" type="text" class="form-control" placeholder="От"
                               aria-label="Стоимсоть от">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="input-group">
                        <input id="price-to" type="text" class="form-control" placeholder="До"
                               aria-label="Стоимость до">
                    </div>
                </div>
            </div>
            </p>
            <div id="slider-range"></div>
        </div>


        <div class="col-sm-8 text-center">
            <div class="sort">
                <span class="sorttext">Сортировать по:</span>
                <div class="radio-inline">
                    <label onclick="SortTeachers('Funct')"><input type="radio" name="optradio">Оценка системы</label>
                </div>
                <div class="radio-inline">
                    <label onclick="SortTeachers('Rating')"><input type="radio" name="optradio">Рейтинг</label>
                </div>
                <div class="radio-inline">
                    <label onclick="SortTeachers('Feedback')"><input type="radio" name="optradio">Отзывы</label>
                </div>
                <div class="sort-btn">
                    <button type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-sort" aria-label="sort"></span>
                    </button>
                </div>
            </div>
            <br>
            {% if teachers %}
                <div class="panel panel-default" id="teachers">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                        {% for teacher in teachers %}
                            <tr>
                                <td rowspan="2" colspan="3"
                                    style="vertical-align: middle; background-color: #eee; font-size:15px; width:30%"><a
                                        href="{{ teacher.Url }}" title="Открыть профиль">{{ teacher.Name }}</a></td>
                                <td rowspan="1" colspan="1"
                                    style="vertical-align: middle; text-align: center !important; background-color: #eee">
                                    Рейтинг: <span style="font-size:15px">{{ teacher.Rating }}</span></td>
                                <td rowspan="1" colspan="1"
                                    style="vertical-align: middle; text-align: center !important; background-color: #eee">
                                    Отзывы: <span style="font-size:15px">{{ teacher.Feedback }}</span></td>
                            </tr>
                            <tr>
                                <td rowspan="1" colspan="2"
                                    style="vertical-align: middle; text-align: center !important; background-color: #eee">
                                    Стоимость занятия: <span rowspan="1" colspan="2"
                                                             style="font-size:15px">{{ teacher.Money }}</span></td>
                            </tr>
                            <tr>
                                <td rowspan="1" colspan="3" style="vertical-align: middle">Предмет:</td>
                                <td rowspan="1" colspan="2"><span>{{ teacher.Subjects }}</span></td>
                            </tr>
                            <tr>
                                <td rowspan="1" colspan="3" style="vertical-align: middle">Район:</td>
                                <td rowspan="1" colspan="2"><span>{{ teacher.Metro }}</span></td>
                            </tr>
                            <tr>
                                <td rowspan="1" colspan="3" style="vertical-align: middle">Место проведения занятий:
                                </td>
                                <td rowspan="1" colspan="2"><span>{{ teacher.ComeHome }}</span></td>
                            </tr>
                            <tr>
                                <td rowspan="1" colspan="3" style="vertical-align: middle">Статус:</td>
                                <td rowspan="1" colspan="2"><span>{{ teacher.Status }}</span></td>
                            </tr>
                            <tr>
                                <td rowspan="1" colspan="5"
                                    style="vertical-align: middle; text-align: right !important">Добавить в избранное:
                                    <img type="button"
                                         src="{% static 'images/favorites.png' %}"
                                         width="20px"
                                         title="Добавить в избранное"
                                         onclick="add_to_favorites('{{ teacher.id }}')"
                                         style="cursor: pointer"/>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="1" colspan="5" style="background-color: #ddd"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-info">
                    <p>Список пуст</p>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-2 sidenav" id="favorites">
            {% if favorites > 0 %}
                <p>В избранном: {{ favorites }}</p>
            {% else %}
                <p>Список избранных пуст</p>
            {% endif %}
            <a href="favorites">Перейти в список</a>
        </div>
    </div>
</div>
<footer class="container-fluid text-center">
    <p>2016</p> {{ teachersNumber }}
</footer>
<script type="text/javascript" src="{% static "js/home_body.js" %}"></script>
</body>
</html>