<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <!-- meta first -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- jQuery first, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">var csrf = "{{ csrf_token }}";</script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script><!-- Tether for Bootstrap -->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
            integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"
            crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="text/javascript" src="{% static "js/home_head.js" %}"></script>

    <link href='https://fonts.googleapis.com/css?family=Kurale&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>

    <title>Система выбора преподавателей</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">Система поиска</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="about">О системе</a></li>
                <li><a href="contact">Связаться</a></li>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <h2>Система поиска преподавателей</h2>
    </div>
</div>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <div class="filter-btn">
                <div style="text-align:left !important">Предмет:</div>
                </p>
                <select class="form-control" id="subject">
                    <option>Английский язык</option>
                    <option>Математика</option>
                    <option>Русский язык</option>
                    <option>Информатика</option>
                </select>
            </div>
            </p>
            <div class="filter-btn">
                <div style="text-align:left !important">Район:</div>
                </p>
                <select class="form-control" id="metro">
                    <option>Все</option>
                    <option>Автово</option>
                    <option>Адмиралтейская</option>
                    <option>Академическая</option>
                    <option>Балтийская</option>
                    <option>Бухарестская</option>
                </select>
            </div>
            </p>
                <div class="filter-btn">
                        <div style="text-align: left !important">Место проведения занятий:</div>
            </p>
                    <select class="form-control" id="metro">
                        <option onclick="filter_place('у себя')"><a href="#">У себя</a></option>
                        <option onclick="filter_place('выезд на дом')"><a href="#">Выезд на дом</a></option>
                        <option onclick="filter_place('удаленно')"><a href="#">Удалённо</a></option>
                    </select>
                </div>
            </p>
            <div style="text-align: left !important">Стоимость занятия:</div>
            <!--<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">-->
            </p>

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1">
                    <div class="input-group">
                        <input id="price-from" type="text" class="form-control" placeholder="От"
                               aria-label="Стоимсоть от">
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="input-group">
                        <input id="price-to" type="text" class="form-control" placeholder="До"
                               aria-label="Стоимость до">
                    </div>
                </div>
            </div>
            </p>
            <div id="slider-range"></div>
        </div>


        <div class="col-sm-8 text-center">
            <div class="sort">
                <span class="sorttext">Сортировать по:</span>
                <div class="radio-inline">
                    <label onclick="SortTeachers('Funct')"><input type="radio" name="optradio">Оценка системы</label>
                </div>
                <div class="radio-inline">
                    <label onclick="SortTeachers('Rating')"><input type="radio" name="optradio">Рейтинг</label>
                </div>
                <div class="radio-inline">
                    <label onclick="SortTeachers('Feedback')"><input type="radio" name="optradio">Отзывы</label>
                </div>
                <div class="sort-btn">
                    <button type="button" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-sort" aria-label="sort"></span>
                    </button>
                </div>
            </div>
            <br>
            {% if teachers %}
                <div class="panel panel-default" id="teachers">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                        {% for teacher in teachers %}
                            <tr>
                                <td rowspan="2" colspan="3"
                                    style="vertical-align: middle; background-color: #eee; font-size:15px; width:30%"><a
                                        href="{{ teacher.Url }}" title="Открыть профиль">{{ teacher.Name }}</a></td>
                                <td rowspan="1" colspan="1"
                                    style="vertical-align: middle; text-align: center !important; background-color: #eee">
                                    Рейтинг: <span style="font-size:15px">{{ teacher.Rating }}</span></td>
                                <td rowspan="1" colspan="1"
                                    style="vertical-align: middle; text-align: center !important; background-color: #eee">
                                    Отзывы: <span style="font-size:15px">{{ teacher.Feedback }}</span></td>
                            </tr>
                            <tr>
                                <td rowspan="1" colspan="2"
                                    style="vertical-align: middle; text-align: center !important; background-color: #eee">
                                    Стоимость занятия: <span rowspan="1" colspan="2"
                                                             style="font-size:15px">{{ teacher.Money }}</span></td>
                            </tr>
                            <tr>
                                <td rowspan="1" colspan="3" style="vertical-align: middle">Предмет:</td>
                                <td rowspan="1" colspan="2"><span>{{ teacher.Subjects }}</span></td>
                            </tr>
                            <tr>
                                <td rowspan="1" colspan="3" style="vertical-align: middle">Район:</td>
                                <td rowspan="1" colspan="2"><span>{{ teacher.Metro }}</span></td>
                            </tr>
                            <tr>
                                <td rowspan="1" colspan="3" style="vertical-align: middle">Место проведения занятий:
                                </td>
                                <td rowspan="1" colspan="2"><span>{{ teacher.ComeHome }}</span></td>
                            </tr>
                            <tr>
                                <td rowspan="1" colspan="3" style="vertical-align: middle">Статус:</td>
                                <td rowspan="1" colspan="2"><span>{{ teacher.Status }}</span></td>
                            </tr>
                            <tr>
                                <td rowspan="1" colspan="5"
                                    style="vertical-align: middle; text-align: right !important">Добавить в избранное:
                                    <img type="button"
                                         src="{% static 'images/favorites.png' %}"
                                         width="20px"
                                         title="Добавить в избранное"
                                         onclick="add_to_favorites('{{ teacher.id }}')"
                                         style="cursor: pointer"/>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="1" colspan="5" style="background-color: #ddd"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="alert alert-info">
                    <p>Список пуст</p>
                </div>
            {% endif %}
        </div>
        <div class="col-sm-2 sidenav" id="favorites">
            {% if favorites > 0 %}
                <p>В избранном: {{ favorites }}</p>
            {% else %}
                <p>Список избранных пуст</p>
            {% endif %}
            <a href="favorites">Перейти в список</a>
        </div>
    </div>
</div>
<footer class="container-fluid text-center">
    <p>2016</p>
</footer>
<script type="text/javascript" src="{% static "js/home_body.js" %}"></script>
</body>
</html>